{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    <a href="{% url 'task_add' %}">Добавить</a>
{% endblock %}
{% block content %}
    <h1>Добро пожаловать на ваш лист задач!</h1>
    {% for task in tasks %}
            <h2>{{ task.title }}</h2>
            <h2>{{ task.status }}</h2>
            <h2>{{ task.date }}</h2>
            <p>
                <a href="{% url 'task_detail' task.pk %}">Подробнее о задаче..</a>
            </p>
    {% endfor %}
{% endblock %}
</body>
</html>